.App {
    text-align: center;
    height: 100%;
    width: 100%;
}

.root {
    height: 100%;
    width: 100%;
}

.global-grid {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: fit-content(100%) auto;
    grid-template-areas: "deck-container card-container";
}

.deck-body {
    width: 5vw;
    grid-area: deck-container;
    background-color: #4472ca;
    transition: 1s;
}

.global-grid .deck-body:hover {
    width: 10vw;
    transition: 1s;
}

.card-body {
    width: 100%;
    height: 100%;
    grid-area: card-container;
}

@media only screen and (max-width: 1024px) {
    .global-grid {
        grid-template-areas: "deck-container"
                            "card-container";
        grid-template-rows: 10vh auto;
    }

    .global-grid .deck-body {
        pointer-events: none;
    }

    .deck-body {
        width: 100vw;
        height: 10vh;
    }
}
